/* start custom css for sweat-alert */
.colored-toast.swal2-icon-success {
    background-color: #00d25b !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.confirm-toast.swal2-icon-question {
    background-color: #000000;;
}
.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}
/* end custom css for sweat-alert */
select {
    color: white !important;
}

.dropzone {
    background: #2A3038 !important;
}
.dz-preview {
    background: #2A3038 !important;
}
